@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: helvetica;
}

.wrapper
{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.wrapper._2
{
  flex-direction: column;
}

input[name="username"],
input[name="room"]
{
  height: 40px;
  padding: 10px;
  margin: 10px 0;
}

input[type="submit"]
{
  height: 40px;
  margin: 10px 0;
}

.text
{
  display: flex;
  width: 100%;
  height: 50px;
}

.msg_text
{
  width: 80%;
  height: 50px;
  padding: 10px;
}

.btn_send
{
  width: 19%;
  height: 50px;
}

.messages
{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.message
{
  padding: 10px 20px;
  margin: 10px 0;
}

.room_id
{
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}

.room_id button
{
  padding: 12px;
}

.wrapper
{
  justify-content: center;
  align-items: center;
}

.wrapper._1
{
  flex-direction: row;
}

.wrapper .form_wrapper
{
  width: 30%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form_wrapper form
{
  width: 60%;
  display: flex;
  flex-direction: column;
}

.message_wrapper
{
  width: 450px;
  height: 80vh;
  padding: 15px;

  display: grid;
  grid-template-rows: 88% 12%;
  grid-gap: 15px;
}

.room_id input[type="text"]
{
  width: 270px;
  height: 25px;
}

@media only screen and (max-width: 980px)
{
  .wrapper._1
  {
    flex-direction: column;
  }

  .wrapper .form_wrapper
  {
    width: 95%;
    height: 45%;
  }

  .wrapper .form_wrapper h1
  {
    font-size: 5rem;
  }

  input[name="username"],
  input[name="room"]
  {
    font-size: 2.5rem;
    height: 3.5rem;
    padding: 1rem;
    margin: 1rem 0;
  }

  input[type="submit"]
  {
    font-size: 2.5rem;
    height: 3.5rem;
    margin: 1rem 0;
  }

  #welcome_msg
  {
    font-size: 4rem;
  }

  .message_wrapper
  {
    width: 95vw;
    height: 80vh;
    padding: 1rem;
    grid-gap: 1rem;
  }

  .messages
  {
    font-size: 2.3rem;
  }

  .msg_text
  {
    font-size: 2.3rem;
    height: 5rem;
    padding: 1rem;
  }

  .btn_send
  {
    font-size: 2.3rem;
    height: 5rem;
  }

  .text
  {
    justify-content: space-between;
  }

  .room_id
  {
    position: absolute;
    left: 1rem;
    bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 95vw;
  }

  #room_id
  {
    font-size: 2.6rem;
    width: 60vw;
    height: 5rem;
  }

  .copy
  {
    font-size: 3rem;
  }
}
